## Preprocessing

In [55]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [56]:
#value counts for status( to be dropped)
application_df["STATUS"].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [57]:
#value counts for special condiserations ( to be dropped)
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

Status and special considerations can be dropped since they are small percentages of projects that are in the minority categories

In [58]:
## Drop the non-beneficial ID columns, 'EIN' and other non benificial columns
application_df = application_df.drop(["EIN"],1)
application_df = application_df.drop(["STATUS"],1)
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS"],1)
application_df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [59]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [60]:
# Look at NAME value counts for binning
name_counts = application_df["NAME"].value_counts()
#how many are greater than 5
name_counts[name_counts > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [61]:
# Determine which values to replace if counts are less than or = 5
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [62]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [63]:
# Determine which values to replace if application counts are less than 500
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [64]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

suggested cutoff will be everywhere where the classification value counts is greater than 1

In [65]:
class_counts[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [66]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [67]:
# generate categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [68]:
# perform one-hot incoding on the data
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [69]:
# Split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [70]:
# Create a StandardScaler instances
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [73]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
from numpy import number
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim = number_input_features, activation = 'relu')
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation = 'sigmoid'))

# third hidden layer

nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation = 'sigmoid'))


# Output layer
nn.add(tf.keras.layers.Dense(units= 1,  activation = 'sigmoid'))


# Check the structure of the model
nn.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 100)               39600

 dense_12 (Dense)            (None, 30)                3030

 dense_13 (Dense)            (None, 10)                310

 dense_14 (Dense)            (None, 1)                 11

=================================================================
Total params: 42,951
Trainable params: 42,951
Non-trainable params: 0
_________________________________________________________________

In [74]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [75]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4959 - accuracy: 0.7729
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4424 - accuracy: 0.7950
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4344 - accuracy: 0.7957
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4295 - accuracy: 0.7962
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4269 - accuracy: 0.7977
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4247 - accuracy: 0.7974
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4225 - accuracy: 0.7993
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4215 - accuracy: 0.7986
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4206 - accuracy: 0.7997
Epoch 10/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4199 - accuracy: 0.7998
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4188 - accuracy: 0.8008
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4183 - accuracy: 0.8009
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4178 - accuracy: 0.8009
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4169 - accuracy: 0.8005
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4164 - accuracy: 0.8005
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4158 - accuracy: 0.8012
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4156 - accuracy: 0.8014
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4148 - accuracy: 0.8015
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4144 - accuracy: 0.8015
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4135 - accuracy: 0.8026
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4136 - accuracy: 0.8019
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4129 - accuracy: 0.8023
Epoch 23/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4124 - accuracy: 0.8033
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4121 - accuracy: 0.8040
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4119 - accuracy: 0.8031
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4111 - accuracy: 0.8043
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4108 - accuracy: 0.8034
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4104 - accuracy: 0.8029
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4106 - accuracy: 0.8038
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4100 - accuracy: 0.8039
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4098 - accuracy: 0.8042
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4093 - accuracy: 0.8034
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4092 - accuracy: 0.8046
Epoch 34/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4085 - accuracy: 0.8050
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4086 - accuracy: 0.8042
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4083 - accuracy: 0.8048
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4080 - accuracy: 0.8046
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4076 - accuracy: 0.8051
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4076 - accuracy: 0.8053
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4075 - accuracy: 0.8059
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4070 - accuracy: 0.8044
Epoch 42/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4072 - accuracy: 0.8052
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4066 - accuracy: 0.8066
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4065 - accuracy: 0.8063
Epoch 45/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4063 - accuracy: 0.8056
Epoch 46/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4060 - accuracy: 0.8057
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4064 - accuracy: 0.8056
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4064 - accuracy: 0.8066
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4064 - accuracy: 0.8064
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4063 - accuracy: 0.8063
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4057 - accuracy: 0.8057
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4052 - accuracy: 0.8068
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4052 - accuracy: 0.8065
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4047 - accuracy: 0.8070
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4044 - accuracy: 0.8061
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4042 - accuracy: 0.8066
Epoch 57/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4045 - accuracy: 0.8069
Epoch 58/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4047 - accuracy: 0.8064
Epoch 59/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4039 - accuracy: 0.8072
Epoch 60/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4042 - accuracy: 0.8072
Epoch 61/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4040 - accuracy: 0.8073
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4040 - accuracy: 0.8074
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4039 - accuracy: 0.8072
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4033 - accuracy: 0.8073
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4038 - accuracy: 0.8072
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4034 - accuracy: 0.8071
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4037 - accuracy: 0.8069
Epoch 68/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4033 - accuracy: 0.8070
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4034 - accuracy: 0.8080
Epoch 70/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4031 - accuracy: 0.8078
Epoch 71/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4030 - accuracy: 0.8079
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4029 - accuracy: 0.8080
Epoch 73/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4030 - accuracy: 0.8075
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4022 - accuracy: 0.8071
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4023 - accuracy: 0.8079
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4026 - accuracy: 0.8080
Epoch 77/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4022 - accuracy: 0.8078
Epoch 78/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4021 - accuracy: 0.8073
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4024 - accuracy: 0.8077
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4019 - accuracy: 0.8084
Epoch 81/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4023 - accuracy: 0.8071
Epoch 82/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4018 - accuracy: 0.8074
Epoch 83/100
804/804 [==============================] - 5s 7ms/step - loss: 0.4020 - accuracy: 0.8083
Epoch 84/100
804/804 [==============================] - 6s 7ms/step - loss: 0.4015 - accuracy: 0.8085
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4021 - accuracy: 0.8080
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4018 - accuracy: 0.8080
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4020 - accuracy: 0.8078
Epoch 88/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4019 - accuracy: 0.8081
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4019 - accuracy: 0.8079
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4019 - accuracy: 0.8082
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8085
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4022 - accuracy: 0.8080
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4020 - accuracy: 0.8081
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4016 - accuracy: 0.8085
Epoch 95/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4014 - accuracy: 0.8087
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4015 - accuracy: 0.8086
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8085
Epoch 98/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4011 - accuracy: 0.8085
Epoch 99/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4010 - accuracy: 0.8086
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4012 - accuracy: 0.8082

In [76]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4570 - accuracy: 0.7903 - 1s/epoch - 4ms/step
Loss: 0.45696499943733215, Accuracy: 0.7903206944465637

In [78]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

In [ ]:
#create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=128)